html {
  font-family: var(--font-secondary);
}

input[type="checkbox"] {
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  background-color: var(--color-secondary-light);
}

input[type="radio"] {
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  background-color: var(--color-secondary-light);
}

input {
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  background-color: var(--color-secondary-light);
}
