:root {
  --color-primary: black;
  --color-secondary: #ccc;
  --color-secondary-light: #f2f2f2;
  --color-secondary-medium: #a6a6a6;
  --color-secondary-dark: #808080;
  --font-secondary: roboto, sans-serif;
  --font-primary: merriweather, serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-secondary-dark);
  font-family: var(--font-secondary);
}

a {
  text-decoration: none;
}
